body {
	padding-top: 90px;
}

.timer-display {
	font-size: 45px;
	margin-bottom: 15px;
}

.activity-selector {
	font-size:20px;
	line-height: 21px;
}

.activity-selector .form-control {
		font-size:20px;
	line-height: 21px;
}

.recent-activity-list {
	list-style:none;
	font-size: 20px;
	padding-left:0px;
}

.recent-activity-list li {
	padding: 7px;
	background-color: #f0f8ff;
	    margin-top: 5px;
    margin-bottom: 4px;
    border: 2px solid black;
}

.recent-activity-list li .activity-name {
	display:block;
}

.recent-activity-list li .activity-date {
	display:block;
	font-weight: bolder;
}

.recent-activity-list li .activity-duration {
	display:block;
}
