<div class="form-horizontal">
	<div class="activity-selector form-group">
		<div class="col-md-12" *ngIf="!((getActivityStatus() | async) === 'started')">
			<button *ngFor="let activity of activityList$ | async" 
				name="{{activity.name}}"
				class="btn btn-lg btn-primary activity-button"
				(click)="startActivity(activity)">
				{{activity.name}}
			</button>
		</div>
		<div class="col-md-12" *ngIf="(getActivityStatus() | async) === 'started'">
			<button 
				name="stop"
				class="btn btn-danger btn-lg btn-block"
				(click)="stopActivity()">
				Stop {{this.stateService.selectedActivity.name}}
			</button>
		</div>
	</div>
</div>